.my-body{
    background-color:greenyellow;
    color:black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
    
}
.my-face{
    margin-top:50px;
    background-color:black;
    border-radius: 50%;
    border: 1px solid white;
    width:250px;
    height:250px;
    margin-left:100px;
}
.my-title{
    
    margin-left: 150px;
    font-weight:bold;
}

.my-subtitle{
    text-align: center;
}

form{
    max-width:400px;
    margin:auto;
}

textarea{
    width:100%;
}

.ghost-button {
        display: inline-block;
        width: 200px;
        padding: 8px;
        background-color: transparent;
        border: 1px solid #fff;
        text-align: center;
        outline: none;
        text-decoration: none;
        border-radius: 5px;
}

.my-hr{
    border:1px solid white;
}

.my-details{
    text-align: center;

}

table{
     margin-left:200px;   
}